* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  text-align: center;
}

.form_container {
  width: 30%;
  border: 1px solid black;
  padding: 5px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 1px 2px 10px 02px rgb(138, 138, 138);
}
label {
  text-align: left;
  position: relative;
  bottom: 3px;
}
.form_container input {
  width: 100%;
  border: 1px solid black;
  position: relative;
  bottom: 3px;
  height: 25px;
}
.form_container button {
  margin: 5px auto;
  text-align: center;
}
input:valid{
  border: 1px solid green;
}
input:invalid{
  border: 1px solid red;
}
.msg_container{
  border: 1px solid black;
}
